DATABASE_URL=postgresql+asyncpg://barboya:barboyasecret@postgres:5432/barboya_db
SECRET_KEY=supersecretkeychangemeinproduction_barboya
ENVIRONMENT=production
ALLOWED_ORIGINS=["*"]
ADMIN_EMAIL=admin@barboya.com
ADMIN_PASSWORD=Admin123*

