DATABASE_URL=postgresql+asyncpg://barboyadb:barboyasecret@localhost:5432/barboyadb
SECRET_KEY=supersecretkeychangemeinproduction
ENVIRONMENT=development
ALLOWED_ORIGINS=["*"]
ADMIN_EMAIL=admin@barboya.com
ADMIN_PASSWORD=Admin123*
